// Base variables
@import '../../base_variables.scss';
// ----------

// Animation Keyframes
@keyframes width-animation {
	from {
		width: 0%;
	}
	to {
		width: 65%;
	}
}

// ----------

// Main Container
.tags-cont {
	display: flex;
	flex-direction: row;

	p {
		position: relative;
		font-size: 15px;
		margin: 0 6px;
		padding: 0 2px;

		// All tags color
		&.html:before {
			background-color: $html;
			filter: brightness(120%);
		}

		&.scss:after {
			background-color: $scss;
			filter: brightness(120%);
		}

		&.JS:before {
			background-color: $js;
			filter: brightness(120%);
		}

		&.JQuery:after {
			background-color: $jQuery;
			filter: brightness(150%);
		}

		&.Svelte:before {
			background-color: $svelte;
			filter: brightness(130%);
		}

		// ----------

		&.left {
			&:before {
				@include after;
				width: 100%;
				height: 15px;
				animation: width-animation .5s ease-in-out;
				border-radius: 5px;
				left: 0px;
				bottom: 0;
				z-index: -1;
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}

		&.right {
			&:after {
				@include after;
				width: 100%;
				height: 15px;
				animation: width-animation .5s ease-in-out;
				border-radius: 5px;
				z-index: -1;
				right: 0px;
				bottom: 0;
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
	}
}

// ----------
