@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

$indie-flower: 'Indie Flower', cursive;
$dancing-script: 'Dancing Script', cursive;
$bitter: Bitter, cursive;
$chelsea-market: 'Chelsea Market', cursive;
$comic-neue: 'Comic Neue', cursive;
$modak: Modak, cursive;

// Logo Colors
$html: #e34c26;
$scss: #cd6799;
$js: orange;
$jQuery: #0769ad;
$svelte: #ff3e00;