@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.shell {
	margin-top: 100px;
	padding: 0 8px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p {
		text-align: center;
		font-family: 'Bitter', cursive;
		letter-spacing: 1.5px;
	}

	h1 {
		text-align: center;
		font-size: 50px;
		font-family: 'Dancing Script', cursive;
	}
}

header {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #b0b0b0;
	padding: 0 50px;
	width: 100%;
	margin-left: 0;
	position: sticky;
	top: 0px;
	height: 50px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	#madeWithLove {
		text-align: right;
		font-size: 15px;
	}
}

.tasks-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
