@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.shell {
	margin-top: 100px;
	padding: 0 8px;

	p {
		font-size: 25px;

		span {
			position: relative;

			&:after {
				content: "";
				bottom: 2px;
				position: absolute;
				width: 100%;
				height: 15%;
				color: rgba(0, 144, 240, 0.5);
				z-index: -1;
			}
		}
	}
}

.fancyLink {
	position: relative;
	color: rgba(0, 47, 255, 0.9);

	&:after {
		content: "";
		position: absolute;
		width: 2%;
		height: 20%;
		right: 0;
		top: 2px;
		background-color: rgba(0, 174, 255, 0.534);
		transition: width .3s ease, height .3s ease-in-out .3s;
	}

	&:hover:after {
		height: 100%;
		width: 100%;
		transition: width .3s ease .3s, height .3s ease-in-out;
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	p {
		text-align: center;
		font-family: 'Bitter', cursive;
		letter-spacing: 1.5px;
	}

	h1 {
		text-align: center;
		font-size: 50px;
		font-family: 'Dancing Script', cursive;
	}
}

header {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #b0b0b0;
	padding: 0 50px;
	width: 100%;
	margin-left: 0;
	position: sticky;
	top: 0px;
	height: 50px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;

	#madeWithLove {
		text-align: right;
		font-size: 15px;
	}
}

.tasks-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.link-containers {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	span {
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 40px;
		padding-right: 40px;
		border: 2px solid black;
	}
}
